bundle/

autoload/Align*
doc/
compiler/tex*
ftplugin/latex-suite
ftplugin/*latexSuite.vim
plugin/Align*
plugin/Syntax*
plugin/cecutil*
plugin/filebrowser
plugin/vcs*
syntax/*Annotate*
syntax/vcscommit*
plugin/imaps.vim
plugin/libList.vim
plugin/remoteOpen.vim
plugin/filebrowser.vim
indent/tex.vim
*.sw?
